<!-- dashboard.component.html -->
<div class="dashboard-header">
  <h2>Panel del Enfermera</h2>
  <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
</div>
<nav>
  <ul>
    <li><a routerLink="citas" routerLinkActive="active">Ver Citas</a></li>
    <li><a routerLink="expedientes" routerLinkActive="active">Ver Expedientes</a></li>
  </ul>
</nav>

<hr />

<!-- Aquí dentro del espacio puedes poner imagen o lo que quieras -->
<div class="content-area">
  <router-outlet></router-outlet>
</div>
